<section [ngStyle]="{'background-image': 'url(' + this.urlBaseImage+film.backdrop_path + ')'}">
  <div class="haut">
    <h4>{{film.title ? film.title : film.name }}</h4>
    <i class="material-icons" (click)="closeAffiche()" title="Fermer cette affiche">close</i>
  </div>
  <div class="bas">
    <div class="gauche">
      <a routerLink="/film/{{film.id}}/{{film.title ? 'movie' : 'tv'}}" title="Fiche" class="affiche">
        <img mat-card-image src={{this.urlBaseImage}}{{film.poster_path}} alt={{film.title}}>
      </a>    
    </div>
    <div class="droit">
      <div class="">
        <div class="" *ngIf="directorName" >
          <h4 class="">Director:</h4>
          <p>
            <span class="badge badge-warning director"> {{this.directorName}}</span>
          </p>
        </div>
        <div class="">
          <h4 class="">Synopsis:</h4>
          <p>{{film.overview}}</p>
        </div>
        <div class="" *ngIf="this.trailers.length > 0" >
          <h4 class="">Trailers:</h4>
          <p>
            <span *ngFor="let trail of this.trailers; let i = index" class="btn btn m-1 mt-3">
              <a href="https://www.youtube.com/watch?v={{trail.key}}" *ngIf="trail.site === 'YouTube'" target="_blank" class="a-vignette">
                <span class="material-icons play">
                  play_circle_outline
                </span>
                <img mat-card-image class="acteur" alt={{film.title}}
                                    src="{{film.poster_path ? this.urlBaseImage+film.poster_path : 'assets/no_image.png'}}"
                >
              </a>
            </span>
          </p>
        </div>
        <div class="" *ngIf="acteurs.length>0">
          <h4 class="">Actors:</h4>
          <p>
            <span *ngFor="let acteur of this.acteurs; let i = index" class="btn btn m-1 mt-3">        
                <a routerLink="/people/{{acteur.id}}" title="Fiche infos de {{acteur.name}}" class="a-vignette">
                  <span class="span-acteur">{{acteur.name }} </span>
                  <img mat-card-image class="acteur" src="{{acteur.profile_path ? this.urlBaseImage+acteur.profile_path : 'assets/no_image.png'}}" alt={{acteur.name}} />
                </a>
            </span>
            <span  *ngIf="minActeurs" class="material-icons btn btn-info m-1 mt-3 more-actor" (click)="plusMoinsActeurs()">
              {{plus ? 'add' : 'remove'}}
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
