<section [ngStyle]="{'background-image': 'url(' + this.urlBackDrop+film.backdrop_path + ')'}">
  <div class="haut">
    <h4>{{film.title ? film.title : film.name }}</h4>
    <i class="material-icons" (click)="closeAffiche()" title="Fermer cette affiche">close</i>
  </div>
  <div class="bas">
    <div class="gauche">
      <img mat-card-image src={{cheminImgSrc}}{{film.cover}} alt={{film.titre}}>
    </div>
    <div class="droit">
      <div class="">

        <div class="">
          <h4 class="">Réalisateur:</h4>
          <p>{{film.realisateur}}</p>
        </div>
        <div class="">
          <h4 class="">Acteur:</h4>
          <p>
            <span *ngFor="let acteur of this.acteurs; let i = index" class="btn btn-info m-1 mt-3">
              <span *ngIf="i < 8">
                {{acteur.name }}
              </span> 
            </span>
          </p>
        </div>

        <div class="">
          <h4 class="">Synopsis:</h4>
          <p>{{film.overview}}</p>
        </div>

      </div>
    </div>
  </div>
</section>
