@import '../../styles.scss';

div {

    
    margin: 2px 1px;
    padding: 20px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .3s ease-in-out;

    

    img {
        width: $image-item;
    }


    p {
        top: 15%;
        position: absolute;
        color: $color;
        opacity: 0;
        transition: all .3s ease-in-out;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        text-align: center;

        span {
            background: $color;
            color: white;

            font-size: 3em;
            text-shadow: $shadow 1px 1px;
            opacity: 1;
            transition: all .3s ease-in-out;
            border: 3px solid $color;
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

        }
    }

    span {
        display: block;
        color: $color;
        font-size: normal;
        opacity: 0;
        position: relative;
        top: -20px;

        transition: all .3s ease-in-out;
    }

    span.material-icons {
            
        display: none;
    }

    &:hover {
        transform: scale(1.12);

        p {
            display: block;
            opacity: 1;
            span {
                border: 2px solid white;
                padding: 4px;

                font-size: large;
                font-weight: bold;
            }
        }

        
        img {
            //@warn: 2px;
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        }

        
        span.material-icons {
            
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        font-size: 3em;
        transition: all .3s ease-in-out;
        color: white;
        cursor: pointer;

            
            &:hover {
                transform: scale(1.35);
                visibility: visible;
                z-index: 5;
                color:white;

            }
            
        } 
    }
}



@media (max-width: 768px) {
    div {
        //background: red;

        img {
            width: calc(  (100vw / 5.08) );
        }

        p {
    
            span {
                color: white;
                font-size: normal;
                font-weight: normal;
    
                text-shadow: $shadow 1px 1px;
                opacity: 1;
                transition: all .3s ease-in-out;
                border: 0px solid $color;
                box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
            }
        }

        span {
        
            color: white;  //$color;
            font-size: normal;
            
            font-size: 2em;
            top: -20px;
    
            transition: all .3s ease-in-out;
    
            
        }
    
        &:hover {
            transform: scale(1.08);
    
            p {
                font-size: x-large;
                display: block;
                opacity: 1;

                span {
                    border: solid 2px white;
                    padding: 10px;
                }
            }
      }

    }
}


@media (max-width: 425px) {
    div {
        img {
            width: calc(  (100vw / 3.05) );
        }
    }
    
}
    