@import '../../styles.scss';

/* 
input.ng-touched.ng-invalid {
    border-width: 1px;
    border: $error solid 2px;
    color: $error !important; 
}

input.ng-touched.ng-invalid + .material-icons:before {
    content:'close';
    color: $error; 
}

input.ng-touched.ng-valid {
    border-width: 1px;
    border: $validate solid 2px;
    color: $validate !important; 
}

input.ng-touched.ng-valid + .material-icons:before {
    content:'check';
    color: $validate;
}

 */


.myForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    //background: red;
    form {
         width: 60%;
        margin: 25px 0;
        color: $color; 

        i {
            top: 7px;
            right: 10px;
        }

        input {
            background: #56c3bd94;  // $color;
            color: white; 
            border-radius: 0;

            &::placeholder {
                color: white; 
                font-weight: lighter;
                font-size: small;
            }        
        }

        button {
            border: 2px solid $color;
            padding: 8px 12px;
            border-radius: 0;
            color: $color; 

            transition: all .4s ease-in-out;

            &:hover {
                color: $back; 
                background: $color !important;
                transform: scale(1.22);
            }
        }
    }
}