@import '../../styles.scss';

h1 {
    color: $color;
    text-shadow: rgba(0, 0, 0, 0.75) 1px 1px;
    font-weight: large;
    margin: 5px 20px;
}
h4 {

    color: $color;
    text-shadow: rgba(0, 0, 0, 0.75) 1px 1px;
    font-weight: large;
    margin: 5px 20px;
}

.h4-error {
    border: 2px solid red;
    padding: 10px;
    width: 70vw;
    margin: auto;
    color: red;
    box-shadow: 6px 6px 2px 0px rgba(0, 0, 0, 0.75);
}

.mt-50 {
    margin-top: 80px;
}

section {

    .material-icons.shopping {
        color: red;
        font-size: x-large;
    }

    .container-flex {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap !important;


        
    }

    table {
        width: 70%;
        margin: auto;

        td {
            margin: auto;
            padding: 5px;
            font-size: large;
    
            color: #56c3bd;
            font-weight: bolder;
        }
    
        tr {
            transition: all 0.3s ease-in-out;

            
            &:hover {
                transform: scale(1.1);
                box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
                z-index: 3;
                img {
                    //max-height: 160px;
                }
            }

           
    
        }

    }

    

    a {

        img {
            max-height: 150px;
            padding: 2px;
        }
    }

    .material-icons {
        
        cursor: pointer;
    }

    .cart-add, .cart-check {
        transition: ease-in-out all 0.3s;
        &:hover {
            transform:  rotate(360deg) scale(1.35);     
        }

    }

    .cart-add:before {
        content:'add_circle' !important;
        color: orange !important; 
    }

    .cart-check:before {
        content:'check_circle' !important;
        color: green !important;
    }

  

}

@media (max-width: 990px) {

    td {
        margin: auto !important;
        padding: 2px !important;
        font-size: small !important;
        font-weight: unset !important;
    }

    a {

        img {
            max-height: 90px !important;
            padding: 4px !important;
        }
    }

    .material-icons {
        font-size: 20px;
    }

    .btn {
        font-size: 0.8rem;
    }

}