@import '../../styles.scss';

h1 {
    color: $color;
    text-shadow: rgba(0, 0, 0, 0.75) 1px 1px;
    font-weight: large;
    margin: 5px 20px;
}
h4 {

    color: $color;
    text-shadow: rgba(0, 0, 0, 0.75) 1px 1px;
    font-weight: large;
    margin: 5px 20px;
}

.h4-error {
    border: 2px solid red;
    padding: 10px;
    width: 70vw;
    margin: auto;
    color: red;
    box-shadow: 6px 6px 2px 0px rgba(0, 0, 0, 0.75);
}

.mt-50 {
    margin-top: 80px;
}

section {

    
    .container {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap !important;
    }

    td {
        margin: auto;
        padding: 5px;

        color: #56c3bd;
        font-weight: bolder;
    }

    tr {
        transition: all 0.3s ease-in-out;
        

        &:hover {
            transform: scale(1.1);
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        }

    }

    a {

        img {
            max-height: 100px;
        }
    }

    .material-icons {
        transition: ease-in-out all 0.3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.35);
        }
    }

    .material-icons.add {
        color: orange;
    }

   /*  p {

        position: relative;
        //background: green;

        .btn-warning, .btn-danger {
            display: none;
            position: absolute;
            
        }

        &:hover {
            .btn-warning {
                cursor: pointer;
                display: block;
                top: -35px;
                left: -15px;
                z-index: 5;
            }

            .btn-danger {
                cursor: pointer;
                display: block;
                top: -20px;
                right: -20px;
                z-index: 5;
            }
        }
    }

    img {
        max-width: 150px;
    }

    a {
    
        align-items: flex-end;
        text-decoration: none;
        color: white;
        transition: all 0.3s ease-in-out;
        position: relative;
        display: flex;
        justify-content: center;
    
        img {
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          transition: all 0.3s ease-in-out;
        }
    
        span {
          transition: all 0.3s ease-in-out;
          position: relative;
          visibility: visible;
          border: solid 3px white;
          padding: 6px;
          color: white;
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          //scale:0;
        }
    
        &:hover {
          
          img {
            opacity: 0.3;
            transform: scale(1.2);
          }
    
          span {
            visibility: visible;
            transform: scale(1.2);
            z-index: 5;
            background: $color;
          }
        }
      }
      

    .pagination {
        color: $color;
        

        a {
            color: $color;

           
        }

        .active {
            background: $color;
            color: $back;
            transform: scale(1.2);
            z-index: 5;
        }
    } */


}