<section class="head-card">
    <h1>Spring Boot Movies DB</h1> 
        <div class="alert alert-info alert-dismissible alert-spring container mt-5" 
                [ngClass]="!isFade ?  'show' : 'fade' ">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <span>
                This list of movies is taken from a <strong> Spring Boot H2</strong> deploy on <strong> Heroku </strong>. 
                It may take a while to load.  </span>
        </div>
    <h4 *ngIf="this.errorConnexSpb" class="text-center" class="h4-error"> {{errorConnexSpb}} </h4>
    <div *ngIf="this.films" class="mt-50 ">    
        <h4 class="">Movies  <span>( {{this.films.length}} )</span>  </h4>     
        <div class="container container-flex">
            <div class="container" >
                <span class="btn btn-primary float-right p-2" (click)="validateList()"> Validate : ({{this.cartAvalide.quantity}}) ${{this.cartAvalide.total}} </span>
            </div>     
            <table> 
                <tr *ngFor="let film of this.films.sort(); let i = index" class=" span-container ">
                    <td>
                        <a routerLink="/recherche/{{film.title}}/film" title="Fiche infos de {{film.title}}">
                                <img    mat-card-image class="acteur"
                                        src="{{film.filmdb.poster_path ? this.urlBaseImage+film.filmdb.poster_path : 'assets/no_image.png'}}"
                                        alt={{film.title}} />
                        </a>
                    </td>
                    <td>
                        <span class="span-film">{{ film.title }} </span>
                    </td>
                    <td>
                        <span class="badge badge-warning p-2">{{film.prix}}$</span>
                    </td>
                    <td>
                        <a routerLink="/recherche/{{film.title}}/film"
                            title="Fiche infos de {{film.title}}">
                            <span class="material-icons infos ">
                                info
                            </span>
                        </a>
                    </td>
                    <td>
                        <span class="material-icons" [ngClass]="film.inCart ?  'cart-check' : 'cart-add'"
                            (click)="addCart(film)">
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div *ngIf="!this.films.length" class="mt-50 container d-flex justify-content-center">
        <div class="spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</section>