<section class="head-card">
    <h1>Spring Boot Movies DB</h1>
    <h4 *ngIf="this.errorConSpb" class="text-center" class="h4-error"> {{errorConSpb}} </h4>
    <div *ngIf="this.covers.length > 0" class="mt-50 ">
        <div class="alert alert-info alert-dismissible container">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <span>Base de donnée <strong> Spring Boot H2</strong>  </span>.
        </div>
        <h4 class="">Movies</h4>
        <div class="container">
            
            <table>
                <!-- <th>img</th><th>titre</th><th>prix</th><th>info</th><th>add</th> -->
                <tr *ngFor="let film of this.films; let i = index" class=" span-container ">
                    <td>
                        <a routerLink="/recherche/{{film.filmdb.title}}/film" title="Fiche infos de {{film.title}}">
                                <img    mat-card-image class="acteur"
                                        src="{{film.filmdb.poster_path ? this.urlBaseImage+film.filmdb.poster_path : 'assets/no_image.png'}}"
                                        alt={{film.title}} />
                        </a>
                    </td>
                    <td>
                        <span class="span-film  ">{{film.filmdb.title }} </span>
                    </td>
                    <td>
                        <span class="btn btn-warning">{{film.prixdb}}$</span>
                    </td>
                    <td>
                        <a routerLink="/recherche/{{film.filmdb.title}}/film"
                            title="Fiche infos de {{film.filmdb.title}}">
                            <span class="material-icons infos ">
                                info
                            </span>
                        </a>
                    </td>
                    <td>
                        <span class="material-icons" [ngClass]="film.inCart ?  'cart-check' : 'cart-add'"
                            (click)="addCart(film)">
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div *ngIf="!this.covers.length " class="mt-50 container d-flex justify-content-center">
        <div class="spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <!-- Center-aligned -->
    <!-- <ul class="pagination pagination-sm justify-content-center mt-50" *ngIf="this.results.length > 0">
        <li class="page-item" *ngIf="this.page > 4"><a class="page-link" routerLink="/recherche/{{maRecherche}}/1">1</a></li>
        <li class="page-item" *ngIf="this.page > 5"><a class="page-link" routerLink="/recherche/{{maRecherche}}/{{page - 3 - 2}}">...</a></li>
         <li class="page-item"  *ngFor="let pagi of this.pagination; let i = index" > 
            <a  class=" page-link active" *ngIf="(i + 1) >= page - 3 && i < page3 " [ngClass]="{'active': (i +1) == page , '': i != page}" routerLink="/recherche/{{maRecherche}}/{{i+1}}" title="recherche {{maRecherche}} / {{i+1}}">
                {{i+1}}
            </a>
        </li>
        <li *ngIf="this.page < this.pageTotal - 4" class="page-item"><a class="page-link" routerLink="/recherche/{{maRecherche}}/{{page + 3 + 2}}">...</a></li>
        <li *ngIf="this.page < this.pageTotal - 3" class="page-item"><a class="page-link" routerLink="/recherche/{{maRecherche}}/{{pageTotal}}">{{this.pageTotal}}</a></li>
    </ul> -->




</section>