@import '../../styles.scss';

.theme-black {
  //background: #0e0423 !important;
  background: black !important;
  color: white !important;
}

.theme-black-panel {
  background: #223e48 !important;
}

.theme-bleu {
  background: #0e0423 !important;
}

.theme-black-input {

  select {
    border-radius: 0;
    background: #223e48 !important;
    color: white !important;
  }

  input {
    border-radius: 0;
    background: #223e48 !important;
    color: white !important;


    &::placeholder {
      background: #223e48 !important;
      color: white !important;

    }
  }
}

section {
  width: 90vw;
  margin: auto;

  display: flex;
  flex-direction: column;

  color: white;
  background: $back;

  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);


  

  h1 {
    color: $color;
    text-shadow: rgba(0, 0, 0, 0.75) 1px 1px;
    font-weight: large;
    margin: 5px 20px;
  }

  h4 {
    color: white; //$color;
  }

  form { 
    width: 100%;
  }

  .flex-justify-content-space-between {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  .addFilm {
    transition: all .3s ease-in-out;
    cursor: pointer;
    right: -5px;
    top: -6px;

    &:hover {
      transform: scale(1.12) rotate(360deg);
    }
  }

  .checkbox-actors {
      overflow-y: auto;
      border: 2px solid $color;
      padding: 5px;
  }

  .panel-heading {

    padding: 5px 15px;
    position: relative;
    background: #289cc3;
    color: white;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .panel-body {
    display: flex;
    justify-content: space-around;


    table {
      width: 100%;
      color: $color;
      //background: purple;

      tr {
        width: 100%;
      }

      td,th {
        //text-align: center;
        padding: 10px;

        select {
          border-radius: 0;
          background: #f5e06e;
          color: #56c3bd;
          border: 1px solid #f5e06e;
        }

        input {
          border-radius: 0;
          background: #f5e06e;
          color: #56c3bd ;
          border: 1px solid #f5e06e;

          &::placeholder {
            color: #56c3bd;
          }
          
      }



        .table-film {
            width: 100% !important;
            background: $back-main;
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            //text-align: justify;

            tr {
              width: 100%;
            }
            
            td,th {
                //width: 100%;
                text-align: start;

                 
            }
        }

        .edit {
          color: green;
        }

        .delete {
          color: red;
        }

        .material-icons {
          transition: all ease-in-out 0.3s;
          cursor: pointer;

          &:hover {
            transform: scale(1.2);
          }
        }

      }


    }

  }


input.ng-touched.ng-invalid {
    border-width: 1px;
    border: red solid 4px;
    color: red !important; 
  }

input.ng-touched.ng-invalid + .material-icons:before {
    content:'close';
    color: red; 
  }



input.ng-touched.ng-valid {
    border-width: 1px;
    border: green solid 2px;
    //color: green !important; 
  }

input.ng-touched.ng-valid + .material-icons:before {
    content:'check';
    color: green;
  }

  i {
    right: 38px;
    top: 13px;
  }

  .icon-date, .icon-prix {
    right: 9px;
    top: 13px;
  }


}


@media (max-width: 480px) {
  
  td, th {
    padding: 1px;
  }

  .panel-default {
    overflow-x: scroll;
  }
}
