<section class="header">
  <div class="container">
    <div class="gauche">LksFilm</div>
    <div class="centre">SEARCH
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-append">
              <button class="btn btn-success" type="submit">Go</button>
            </div>
          </div>
      
    </div>
    <div class="droit">
      <ul>
        <li title="Retour à la home">
            <span class="material-icons">
                home
            </span>
        </li>
        <li title="Nos films favoris">
            <span class="material-icons">
                favorite
            </span>
        </li>
        <li title="Son Compte">
            <span class="material-icons">
              account_box
            </span>
        </li>
      </ul>
    </div>
  </div>

</section>
<section class="headerTest">
    <div class="containerTest">
      <div class="gaucheTest">LksFilm</div>
      <div class="centreTest">SEARCH</div>
      <div class="droitTest">Connexion</div>
    </div>
  
  </section>

<section class="myGrid">
  <div id="fils1" class="fils"> 
    <a href="#fils3">
      <span class="material-icons">
        arrow_back_ios
      </span>
    </a>
      <div class="item">
        <img src="../assets/CoverFilm/gat.jpeg">
      </div>
      <div class="item">
        <img src="../assets/CoverFilm/inter.jpeg">
      </div>
      <div class="item">
        <img src="../assets/CoverFilm/joe.jpeg">
      </div>
      <div class="item">
        <img src="../assets/CoverFilm/jr.jpeg">
      </div>
      <div class="item">
        <img src="../assets/CoverFilm/undercover.jpeg">
      </div>
      <div class="item">
        <img src="../assets/CoverFilm/dk.jpeg">
      </div>
      <div class="item">
        <img src="../assets/CoverFilm/wh.jpeg">
      </div>
      
    <a href="#fils2">
      <span class="material-icons">
        arrow_forward_ios
      </span>
    </a>
  </div>

  <div id="fils2" class="fils">
    <a href="#fils1"><span class="material-icons">
      arrow_back_ios
      </span></a>
    <div class="item">
      <img src="../assets/CoverFilm/jr.jpeg">
    </div>
    <div class="item">
      <img src="../assets/CoverFilm/undercover.jpeg">
    </div>
    <div class="item">
      <img src="../assets/CoverFilm/dk.jpeg">
    </div>
    <div class="item">
      <img src="../assets/CoverFilm/wh.jpeg">
    </div>
    <div class="item">
      <img src="../assets/CoverFilm/gat.jpeg">
    </div>
    <div class="item">
      <img src="../assets/CoverFilm/inter.jpeg">
    </div>
    <div class="item">
      <img src="../assets/CoverFilm/joe.jpeg">
    </div>
   
      
    <a href="#fils3"><span class="material-icons">
      arrow_forward_ios
      </span></a>
  </div>

  <div id="fils3" class="fils">
    <a href="#fils2"><span class="material-icons">
      arrow_back_ios
      </span></a>
    <div class="item">
      <img src="../assets/CoverFilm/joe.jpeg">
    </div>
    <div class="item">
      <img src="../assets/CoverFilm/jr.jpeg">
    </div>
    <div class="item">
      <img src="../assets/CoverFilm/undercover.jpeg">
    </div>
    <div class="item">
      <img src="../assets/CoverFilm/gat.jpeg">
    </div>
    <div class="item">
      <img src="../assets/CoverFilm/inter.jpeg">
    </div>
    <div class="item">
      <img src="../assets/CoverFilm/dk.jpeg">
    </div>
    <div class="item">
      <img src="../assets/CoverFilm/wh.jpeg">
    </div>


    <a href="#fils1"><span class="material-icons">
      arrow_forward_ios
      </span></a>
  </div>

</section>
<section class="head-card">
  <app-test-component></app-test-component>
</section>
<router-outlet></router-outlet>
