<section >
    <div class="haut">
        <h1 class="">Développeur Full Stack </h1>
        <h4>Hatchi Michaël</h4>
     
    </div>
    <div class="bas">
      <div class="gauche">
        <img mat-card-image height="300"
                            src="{{'assets/users/admin.jpg'}}"
        alt="img user">
      </div>
      <div class="droit">
        <div class="">
  
  
          <div class="" >
            
            <h4 class="">Languages & Frameworks:</h4>
            <p>
                > <b>Java, Spring Boot, Angular</b>, JEE, React
            </p>
            <h4 class="">Web standard:</h4>
            <p>
                > <b>HTML5, CSS3,SCSS, JavaScript</b>, PHP7, JQuery
            </p>
            <h4 class="">Database administration:</h4>
            <p>
                > MySQL, PostGreSQL, PhpMyAdmin, Hibernate
            </p>
            <h4 class="">Project management methods:  </h4>
            <p>
                > Merise, Méthode Agile, Scrum, Gantt
            </p>
            <h3 class="">Formations</h3>
            <p>
                > POE Java Full Stack <small>(Java, Jee, Angular)</small>
            </p>
            <p>
                > Titre professionnel "Développeur Logiciel" de niveau III
            </p>
            <p>
                > Master 2 Mention Informatique
            </p>
          </div>
          
  
        </div>
      </div>
    </div>
  </section>
   