<!-- <div [ngClass]="{'theme-black':theme  }" class="min-h-100"> -->
  
<section class="body" 
[ngClass]="{'theme-black':theme  }"
>

  <!-- bar nav head -->
  <header [ngClass]="{'theme-black-header':theme  }">
    <div class="headContainer">
      <div class="gauche">
        <div class="logo">
          <a routerLink="/home" title="Home">
            <span class="logo-bottom logo-gd" [ngClass]="{'theme-black-color':theme  }">8Mirr∞r</span>
            <span class="logo-bottom logo-pt">8M∞</span>

          </a>
          <span class="material-icons menu-burger" [ngClass]="{'menu-show': isShow , 'menu-hide': !isShow} "
            (click)="showMenu()">
          </span>

        </div>
      </div>
      <div class="centre" [ngClass]="{'cd-show': isShow , 'cd-fade': !isShow} ">

        <input #search type="text" class="form-control" placeholder="Search" id="idSearch" name="search"
        [ngClass]="{'theme-black-input-search':theme  }"
        >
        <span class="material-icons" (click)="clickSearch(search)">
          search
        </span>
      </div>

      <div class="droit" [ngClass]="{'cd-show': isShow , 'cd-fade': !isShow} ">
        <ul>
          <li #lih (click)="clickIcon(lih)" [ngClass]="{'iconSelected':isSelectedIcon.home}" data-icon='home'>
            <a routerLink="/home" title="Retour à la home">
              <span class="material-icons">
                home
              </span>
            </a>

          </li>
          <li #liad (click)="clickIcon(liad)" *ngIf="userAuth.role === 'ADMIN'" class="console"
            [ngClass]="{'iconSelected':isSelectedIcon.admin}" data-icon='admin'>
            <a routerLink="/console" title="Console Admin">
              <span class="material-icons">
                admin_panel_settings
              </span>
            </a>
          </li>
          
          <li #lip title="Compte user" (click)="clickIcon(lip)" *ngIf="userAuth.pseudo" class="p-relative"
            [ngClass]="{'iconSelected':isSelectedIcon.person}" data-icon='person'>
            <span >{{userAuth.pseudo}} </span>
            <a routerLink="/user" title="User">
              <span class="material-icons">
                person
              </span>
              
            </a>
          </li>
          <li #lii (click)="clickIcon(lii)" [ngClass]="{'iconSelected':isSelectedIcon.inscription}"
            *ngIf="!userAuth.pseudo" data-icon="inscription">
            <a routerLink="/inscription" title="Inscription">
              <span class="material-icons">
                person_add
              </span>
            </a>

          </li>
          
          <li #lii (click)="brightness()" data-icon="brightness">
              <span class="material-icons">
                settings_brightness
              </span>

          </li>


          <li #lisp title="Spb DB" data-icon="spb" (click)="clickIcon(lisp)" *ngIf="userAuth.pseudo"
            [ngClass]="{'iconSelected':isSelectedIcon.spb}">
            <a routerLink="/spb" title="Spb" class="a-list-spb">
              <span class="material-icons">
                cloud
              </span>

              <span class="badge badge-pill badge-success span-list-spb">{{cart.quantity}}</span>

            </a>
          </li>
          <li #lilo title="login" data-icon="login" (click)="clickIcon(lilo)"
            [ngClass]="{'iconSelected':isSelectedIcon.login , 'd-none': userAuth.pseudo}">

            <a routerLink="/login" title="Login">
              <span class="material-icons">
                login
              </span>
            </a>
          </li>
          <li #lilog title="logout" data-icon="logout" (click)="clickIcon(lilog)"
            [ngClass]="{'iconSelected':isSelectedIcon.logout ,  'd-none': !userAuth.pseudo}">
            <span class="material-icons" (click)="logOut()">
              logout
            </span>
          </li>


        </ul>
        <a routerLink="/user" title="User" *ngIf="cart.quantity > 0 && userAuth.pseudo" class="btn btn-danger shopping">
          <i class="material-icons shopping">add_shopping_cart
          </i>
          ({{cart.quantity}}) ${{cart.total}}
        </a>
      </div>
    </div>
  </header>

  <!-- le routeur -->
  <div class="padding-top-90 padding-bottom-90 " [ngClass]="{'theme-black':theme }">
    <router-outlet></router-outlet>
  </div>

</section>
<footer [ngClass]="{'theme-black':theme }">
  <div class="position-relative footer" [ngClass]="{'theme-footer-black':theme }">

    <ul>
      <li class="nav-item active mx-2 ">
        <a class="nav-link link-logo" routerLink='/home'> <span class="logo-bottom">8Mirr∞r</span> </a>

      </li>
      <li>
        <a href='https://www.themoviedb.org/?language=fr-FR' target="_blank"> <img class="card-img-top"
            src="assets/tmdb.svg" alt="The movie DB" />
        </a>

      </li>
      <li>About Us
        <div class="reseaux">

          <a routerLink="/admin" title="admin">
            <fa-icon [icon]="faUserCircle"></fa-icon>
          </a>
          <a href='https://www.linkedin.com/in/m-hatchi-bb4b49156/' target="_blank">
            <fa-icon class="fa-git" [icon]="faLinkedinIn"></fa-icon>
          </a>
          <a href='https://github.com/objectifMH/MirroorMedia' target="_blank">
            <fa-icon [icon]="faGithub"></fa-icon>
          </a>



        </div>
      </li>

    </ul>
    <div class="footer-foot">
      <span>©2021 Copyright.fr. All right reserved.</span>
    </div>
  </div>
</footer>
<!-- 
</div> -->