@import '../../styles.scss';

.body {
    //background-color: black;
    min-height: 100%;
}



.headerTest {
    //background: pink;
    display: none;

    .containerTest {
        display: grid;
        grid-template-columns: 1.5fr  8fr 2fr; 

        div {
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:nth-child(1) {

                font-size: 1.75em;
                font-family: -webkit-pictograph;
                color: white;
            }
            &:nth-child(2) {
                background: yellow;
            }
            &:nth-child(3) {
                background: cyan;
            }
        }
    }
}

// **********   Header  **********
header {
    width: 100%;
    height: 70px;
    top: 0;
    
    background:#232323;
    background: $back;

    //border-bottom: 1px solid #9a9494b3;
    box-shadow: 0 4px 2px -2px gray;

    position: fixed;
    z-index: 20;

    .headContainer {
        display: flex;
        justify-content: center;

        a { 
            color: white; 
            text-decoration: none;
        }

        .gauche {
            .logo {
                //color: gold;
                color: $color;

                font-weight: bolder;
                font-size: xx-large;
                letter-spacing: 1px;
                text-shadow:$shadow 1px 1px;
                margin-left: 80px;

                .menu-burger {
                    right: 20px;
                    top: 15px;
                    position: absolute;
                    font-size: larger;
                    color: gold;
                    display: none;
                }

               .material-icons {
                   display: block;
               }
            }
        }

        div {
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;


            // **********   Gauche  **********
            &:nth-child(1) {
                flex-grow: 5 ; 
                justify-content: start;
                //background: green;

                font-size: 1.75em;
                font-family: -webkit-pictograph;
                color: white;

                .logo-gd {
                    display: block;
                }

                .logo-pt {
                    display: none;
                }
                
            }

            // **********   Centre  **********
            &:nth-child(2) { 
                flex-grow: 10;
                //background: yellow;
                

                    // input Search #idSearch::placeholder 
                    input {
                        border-radius: 0;
                        background: $back-main;

                        color: $color; 
                        border: 1px solid $back-main;
                    
                        &::placeholder {

                            color: $color; 
                            font-weight: lighter;
                            font-size: normal;
                            background: $back-main;
                          }
                    }

                    span {
                        border-top: 2px solid white;
                        border-bottom: 2px solid white;
                        border-right: 2px solid white;
                        padding: 6px 5px;
                        color: white;

                        transition: all .2s ease-in-out;
                        cursor: pointer;

                        &:hover {
                            border-left: 2px solid white;
                            transform: scale(1.12);
                        }

                        
                    }
            }

            // **********   Droit  **********
            &:nth-child(3) { 
                justify-content: flex-end;
                flex-grow: 2;
                //background: cyan;

                ul {

                    margin-bottom : 0;
                    margin-left : 0;
                    margin-right: 30px;
                    margin-top : 0;

                    list-style: none;
                    color : white; 

                    li {
                        display: inline-block;
                        border: 1px solid white;
                        margin: 0 4px;

                        padding: 6px 5px;
                        color: white;

                        &.iconSelected {
                            border-bottom: 4px solid white !important;
                        }
                        
                        span {
                            cursor: pointer;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            
                        }
                    }
                }
            }

        }

        
    }

}




.head-card {
    //display: flex; 
    //visibility: hidden;
    //justify-content: center; 
    
    margin-top: 90px;
    transition: left 1s ease-in-out;

    
}

.droit {

    a:active { color: $color    !important; } 
    li:hover { 
        //border : 2px solid $color !important;
        border-bottom: 3px solid white !important;
    
    }
}

.margin-top-90 {
    margin-top: 90px;
}
.margin-bottom-90 {
    margin-bottom: 90px;
}


// Footer // 

/* footer {
    color: #d3d3d3; 
    padding: 20px;
    position: relative;
    bottom: 0;
    font-size: smaller;
    width: 100%;
    background:#232323;
} */

.footer {
    height: 100px;
    background: $back;
    //width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;

    display: flex;
    flex-direction: column;

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        flex: 1;
        justify-content: space-around;
        align-items: center;


        li {
            padding: 15px;
            color: $color;
            font-size: normal;

            

            .logo-bottom {

                text-shadow: $shadow 1px 1px;
                color: $color;
                font-weight: bolder;
                font-size: x-large;


            }

            img {
                width: 50px;
            }

            .reseaux {
                 .ng-fa-icon {
                    font-size: 24px;
                    padding: 5px;
                    color: $color;
                    //transform: scale(1.59);
                    
                
                    transition: all .2s ease-in-out;
                
                    &:hover {
                        color: red;
                        transform: scale(1.29);
                        text-shadow: $shadow 1px 1px;
                        //font-size: 26px;
                
                    }
                }
            }


        }
    }

    .footer-foot {
        //position: absolute;
        font-size: small;
        bottom: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex: 1;
        align-items: center;
        margin: 5px;
        color: $color;
    }

}



@media (max-width: 480px) {
    .menu-burger {
        cursor: pointer;
        display: block !important;
    }

    
    
    .footer {

        height: 100%;
        ul {
            flex-direction: column;
            padding: 0;
        }
    }
}

@media (max-width: 768px) {

    

    .menu-burger {
        cursor: pointer;
        display: block !important;
    }

    .material-icons {
        transition: all 0.4s ease-in-out;
    }

    .menu-burger.menu-show.material-icons:before {
        content:'close' !important;
        color: $back !important; 

        
    }

    .menu-burger.menu-hide.material-icons:before {
        content:'menu' !important;
    }

    .material-icons:hover {
        transform: scale(1.3) rotate(360deg);
    }

    section {
        margin-top: 220px;
        .mt-50 {
            margin-top: 0;
        }
    }
    .headContainer {
        flex-direction: column;
        background: $color;
        

        .droit {
            display: flex;
            justify-content: center;
            border-bottom: 2px solid grey;
        }

        .centre {
            padding: 30px;
            background: $color;
        }

        .droit {
            justify-content: center !important;
            background: $color;
        }
    
    }
}





