<section class="body">

  <!-- bar nav head -->
  <header>
    <div class="headContainer">
      <div class="gauche">
        <div class="logo">
          8Mirr∞r
        </div>
      </div>
      <div class="centre">

        <input #search type="text" class="form-control" placeholder="Rechercher" id="idSearch" name="search">
        <span class="material-icons" (click)="clickSearch(search)">
          search
        </span>
      </div>

      <div class="droit">
        <ul>
          <li #lih (click)="clickIcon(lih)" [ngClass]="{'iconSelected':isSelectedIcon.home}" data-icon='home'>
            <a routerLink="/home" title="Retour à la home">
              <span class="material-icons">
                home
              </span>
            </a>

          </li>
          <li #lif title="Nos films favoris" (click)="clickIcon(lif)"
            [ngClass]="{'iconSelected':isSelectedIcon.favoris}" data-icon='favoris'>
            <span class="material-icons">
              favorite
            </span>
          </li>
          <li #lii (click)="clickIcon(lii)" [ngClass]="{'iconSelected':isSelectedIcon.inscription}"
            data-icon="inscription">
            <a routerLink="/inscription" title="Inscription">
              <span class="material-icons">
                person_add
              </span>
            </a>

          </li>
          <li #lic title="Son Compte" data-icon="compte" (click)="clickIcon(lic)"
            [ngClass]="{'iconSelected':isSelectedIcon.compte}">
            <span class="material-icons">
              account_box
            </span>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <!-- le routeur -->
  <div class="margin-top-90">
    <router-outlet></router-outlet>
  </div>

</section>
<footer>
  <div class="position-relative footer">

    <ul>
        <li class="nav-item active mx-2 ">
            <a class="nav-link link-logo" routerLink='/home' > <span class="logo-bottom">8Mirr∞r</span> </a>

        </li>
        <li>
            <a href='https://www.themoviedb.org/?language=fr-FR' > <img class="card-img-top" src="../../assets/tmdb.svg" alt="The movie DB" />
            </a>

        </li>
        <li>Contact Us
            <div class="reseaux">
                <a href='https://www.linkedin.com/in/m-hatchi-bb4b49156/' >
                  <fa-icon class="fa-git" [icon]="faLinkedinIn"></fa-icon>
                </a>
                <a href='https://github.com/objectifMH/reactReduxMovieDB' >
                  <fa-icon [icon]="faGithub"></fa-icon>
                </a>

            </div>
        </li>

    </ul>
    <div class="footer-foot">
        <span>©2020 Copyright.fr. All right reserved.</span>
    </div>
</div>
</footer>
