
  <section class="container-myGrid">
    <h4>{{titre}}</h4>

    <section class="myGrid">
      <a (click)="clickGauche()" *ngIf="isPresentG" class="gauche">
        <span class="material-icons">
          arrow_back_ios
        </span>
      </a>
      <div class="fils" [ngStyle]="{'left.px': styleLeft }">
        <div *ngFor="let film of films">
          <app-item-slide [filmItem]="film" (clickFilm)="clickFilmSlide($event)"></app-item-slide>
        </div>
      </div>
      <a (click)="clickDroit()" class="droit" *ngIf="isPresentD">
        <span class="material-icons">
          arrow_forward_ios
        </span>
      </a>
     
    </section>
</section>
<section class="head-card" *ngIf="isFilmAffiche">
  <app-test-component [film]="isFilmAffiche" (isCloseAffiche)="closeAfficheFilm($event)"></app-test-component>
</section>