
  <section class="container-myGrid">
    <h4>{{titre}}</h4>

    <section class="myGrid" *ngIf="this.films ">
      <a (click)="clickGauche()"  *ngIf="isPresentG" class="gauche">
        <span class="material-icons">
          arrow_back_ios
        </span>
      </a>
      <div class="fils" [ngStyle]="{'left.px': styleLeft }">
        <div *ngFor="let film of films" class="film">
          <app-item-slide [filmItem]="film" (clickFilm)="clickFilmSlide($event)"></app-item-slide>
        </div>
      </div>
      <a (click)="clickDroit()" class="droit" *ngIf="isPresentD">
        <span class="material-icons">
          arrow_forward_ios
        </span>
      </a>
     
    </section>
    <div  *ngIf="!this.films " class="mt-50 container d-flex justify-content-center">
      <div class="spinner-border text-info" role="status">
          <span class="sr-only">Loading...</span>
      </div>
  </div>
</section>
<section class="head-card" *ngIf="isFilmAffiche">
  <app-test-component [film]="isFilmAffiche" (isCloseAffiche)="closeAfficheFilm($event)"></app-test-component>
</section>