@import '../../styles.scss';

h4 {
    color: $color;
    font-weight: normal;
    margin: 5px 20px;
}

.mt-50 {
    margin-top: 80px;
}



section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;

    img {
        max-width: 150px;
    }

    a {
    
        align-items: flex-end;
        text-decoration: none;
        color: white;
        transition: all 0.3s ease-in-out;
        position: relative;
        display: flex;
        justify-content: center;
    
        img {
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          transition: all 0.3s ease-in-out;
        }
    
        span {
          transition: all 0.3s ease-in-out;
          position: absolute;
          visibility: hidden;
          border: solid 3px white;
          padding: 6px;
          color: white;
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          scale:0;
        }
    
        &:hover {
          
          img {
            opacity: 0.3;
            transform: scale(1.2);
          }
    
          span {
            visibility: visible;
            transform: scale(1.2);
            z-index: 5;
            background: $color;
          }
        }
      }
      

    .pagination {
        color: $color;
        

        a {
            color: $color;
            //border: 12px solid greenyellow;

           
        }

        .active {
            background: $color;
            color: $back;
            transform: scale(1.2);
            z-index: 5;
        }
    }


}