h4 {
    color: white;
    font-weight: normal;
    margin: 5px 20px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    img {
        min-width: 300px;
        min-height: 300px;
    }

   

}