<section>
  <div class="haut">
    <h4>Gattaca</h4>
  </div>
  <div class="bas">
    <div class="gauche">
      <img mat-card-image src="../../assets/CoverFilm/gattaca.jpg" alt="Gattaca">
    </div>
    <div class="droit">
      <div class="">

        <div class="">
          <h4 class="">Réalisateur:</h4>
          <p>Andrew Niccol</p>
        </div>
        <div class="">
          <h4 class="">Acteur:</h4>
          <p>Ethan Hawke, Uma Thurman</p>
        </div>

        <div class="">
          <h4 class="">Description:</h4>
          <p>A genetically inferior man assumes the identity of a superior one in order to pursue his lifelong dream of
            space travel.</p>
        </div>

      </div>
    </div>
  </div>
</section>
