<section>
  <div class="haut">
    <h4>{{film.titre}}</h4>
    <i class="material-icons" (click)="closeAffiche()" title="Fermer cette affiche">close</i>
  </div>
  <div class="bas">
    <div class="gauche">
      <img mat-card-image src={{film.cover}} alt={{film.titre}}>
    </div>
    <div class="droit">
      <div class="">

        <div class="">
          <h4 class="">Réalisateur:</h4>
          <p>{{film.realisateur}}</p>
        </div>
        <div class="">
          <h4 class="">Acteur:</h4>
          <p>
            <span *ngFor="let acteur of film.acteurs">{{acteur }} </span>
          </p>
        </div>

        <div class="">
          <h4 class="">Description:</h4>
          <p>{{film.description}}</p>
        </div>

      </div>
    </div>
  </div>
</section>
