/* You can add global styles to this file, and also import other style files */




$back: gold;  //#232323
$back-main: #f5e06e;
$color : #56c3bd;
$shadow : rgba(0,0,0,0.75);
$validate : purple;
$error : red;

html, body { 
    height: 100%; 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: $back-main !important;}

$image-item: calc(  (100vw / 7.12) );
$slide-item: calc( 2 * $image-item );

